.nav {
    display: flex;
    justify-content: center;
  }
  .button {
    background-color: yellow;
    padding: 6px 12px 6px 12px;
  }
  .content {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    background-color: white;
    margin: 0 auto;
    width: 70%;
    border: 1px solid red;
  }
  body {
    background-color: plum;
  }
  
  
  .bgc-yellow {
    background-color: yellow;
  }
  .pt-6 {
    padding-top: 6px;
  }
  .pr-12 {
    padding-right: 12px
  } 
  .pb-6 {
    padding-bottom; 6px
  }
  .pl-12{
    padding-left; 12px
  }
  .bdr-red {
    border: solid red
  }
   #github {
     background: white
   }
  